/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: circle;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.hidden
{
  display:none;
}
/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: silver;
  color: white;
}

h1{
  font-family: verdana, arial, sans-serif;
  color: black;
}
#button1:active, #button1.lit
{
  background:#FFD3E1;
}
#button2:active, #button2.lit
{
  background:#BADFDA;
}
#button3:active, #button3.lit
{
  background:#D5B6D5;
}
#button4:active, #button4.lit
{
  background:#F9E1E0;
}
#button5:active, #button5.lit
{
  background:lightblue;
}
button
{
  padding: 10px;
  border-radius: 10px;
}
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}